.item-list{
    margin-top: 20px;
}

.item-list strong{
    color: #539BF5;
    font-size: 22px;
    margin-top: 20px 0;
    padding: 20px;
}

p{
    color: white;
    font-size: 14px;  
    margin-top: 20px 0;
    padding: 20px;
}